body {
	
}

h1 {
	text-align:left;
	color: #000000;
}

.titulo-principal {
	padding: 20px;
}

#banner {
	width: 100%
}
.principal {
	background: #cccccc;
	padding: 30px;
}

.titulo-centralizado {
	text-align:center;
	color: #000000;
}

p {
	text-align:center;
	color: #000000;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #89582a;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF
	padding:20px;
}
.imagembeneficios {
	width: 50%;
}